*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.cabecalho-imagem{
    width: 50%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 50px;
    font-size: 50px;
}

.ambiente-imagem{
    width: 50%;
}

.ambiente{
    background-image: linear-gradient(#000000,#000000);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.ambiente-div-conteudo{
    width: 55%;
}


.ambiente-titulo{
    padding: 55px 0;
}

.projeto{
    padding: 250px 0;
}
.projeto-imagem{
    width: 250px;
}

.projeto-icone{
    width: 250px;
    padding: 250px 8px;
}

.projeto-div{
    text-align: center;
    padding: 250px 0;
}

.projeto-titulo{
    text-align: center;
    padding: 250px 0;
}

.projeto-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 250px;
    padding: 250px 0;
   
}
